<nav class="navbar navbar-expand-lg navbar-light bg-primary p-2">
	<a class="navbar-brand text-light" href="/">Home</a>
	<a class="navbar-brand text-light" href="/category/">Categories</a>
	<a class="navbar-brand text-light" href="/program/">Programs</a>
	<a class="navbar-brand text-light" href="/episode/">Episodes</a>
</nav>
