{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}
    <h1>Bienvenue !</h1>
   <img width="200px" src="{{ asset('build/images/calanques.jpg') }}" alt="Calanques, image de test"/>
{% endblock %}
